@layer utilities {
	.max-w-container {
		max-width: var(--max-w-container);
	}
	/* COLOURS */
	.bg-rose-50 {
		background-color: var(--color-rose-50);
	}
	.bg-brown-800 {
		background-color: var(--color-brown-800);
	}
	.bg-primary-base {
		background-color: var(--bg-primary-base);
	}
	.text-white-900 {
		color: var(--color-white-900);
	}

	/* FONT FAMILY */
	.font-base {
		font-family: var(--font-family-base);
	}
	.font-secondary {
		font-family: var(--font-family-secondary);
	}

	/* FONT SIZES */
	.text-sm {
		font-size: var(--fs-sm);
	}
	.text-normal {
		font-size: var(--fs-normal);
	}

	/* BORDER RADIUS */
	.rounded-r {
		border-radius: var(--br-r);
	}
	.rounded-r-l {
		border-radius: var(--br-r-l);
	}

	/* MARGIN TOP */
	@media (width >= 40rem) {
		.sm\:my-padding-lg {
			margin-block: var(--my-padding-lg);
		}
	}

	/* PADDING TOP */
	.sm\:py-padding-xs {
		padding-block: var(--py-padding-xs);
	}
	/* .px-padding-xs {
		padding-inline: var(--px-padding-xs);
	} */

	/* MARGINGS Bottoms */
	.mb-xs {
		margin-bottom: var(--spacing-gap-xs);
	}
	.mb-sm {
		margin-bottom: var(--spacing-gap-sm);
	}
	.mb-md {
		margin-bottom: var(--spacing-gap-md);
	}
	.mb-lg {
		margin-bottom: var(--spacing-gap-lg);
	}
	.mb-xl {
		margin-bottom: var(--spacing-gap-xl);
	}
	.mb-2xl {
		margin-bottom: var(--spacing-gap-2xl);
	}
	.mb-3xl {
		margin-bottom: var(--spacing-gap-3xl);
	}

	/* SPACING */
	.gap-xs {
		gap: var(--spacing-gap-xs);
	}
	.gap-sm {
		gap: var(--spacing-gap-sm);
	}
	.gap-md {
		gap: var(--spacing-gap-md);
	}
	.gap-md-lg {
		gap: var(--spacing-gap-md-lg);
	}
	.gap-lg {
		gap: var(--spacing-gap-lg);
	}
	.gap-xl {
		gap: var(--spacing-gap-xl);
	}
	.gap-2xl {
		gap: var(--spacing-gap-2xl);
	}
	.gap-3xl {
		gap: var(--spacing-gap-3xl);
	}
	.gap-4xl {
		gap: var(--spacing-gap-4xl);
	}
	.gap-5xl {
		gap: var(--spacing-gap-5xl);
	}
	.gap-6xl {
		gap: var(--spacing-gap-6xl);
	}
	.gap-7xl {
		gap: var(--spacing-gap-7xl);
	}
	.gap-8xl {
		gap: var(--spacing-gap-8xl);
	}
}
