@import "tailwindcss";
@import "./fonts/fonts.css";
@import "./theme/global_variables.css";
/* 
*  The colours.css file is currently not in use, as all colour variables
*  have been moved to the global_variables.css file, for better organization.
*  Moved to global_variables.css
*/
/* @import "./theme/colours.css"; */
@import "./utilities/utilities.css";
